{% extends "ProjetForumBundle::layout.html.twig" %}

{% block repere %}
	<ul class="breadcrumb" id="help">
		<li><a href="{{ path('projet_forum_homepage') }}">Acceuil</a></li>
		<li><a href="{{ path('projet_forum_view_category', {'category_id': category.id}) }}">{{ category.name }}</a></li>
	</ul>

	<h2>Ajouter une sous-catégorie</h2>

  	{{ include("ProjetForumBundle:Forum:formSubCategory.html.twig") }}

{% endblock %}
