{% extends "ProjetForumBundle::layout.html.twig" %}

{% block repere %}
	<h1>{{ 'À propos de ce site'|trans }}</h1><br />
	<p class="category">{% trans %}Ce site a été développé dans le cadre d'un projet afin de valider le module "Programmation web" de 4ème année à l'école d'ingénieur du numérique ESIEA. {% endtrans %}</p>
	<p class="category">{% trans %}Celui-ci a pour but d'aider celles et ceux qui auront besoin d'aide en informatique, le tout dans une ambiance chaleureuse et conviviale. {% endtrans %}</p>
{% endblock %}