body {
	background-color:#eee !important;
}

h1 {
	text-shadow: 4px 4px 5px #777;
}

.navbar-default {
	background-color: #e3f2fd !important;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.bg-lightgray
{
	margin-top: 50px;
	background-color:LightGray;
}

.head {
	background: linear-gradient(0deg, rgb(121,212,245), white);
	font-size: 18px;
}

.category {
	font-size: 16px;
}

ul {
	list-style: none;
	margin-left:0;
	padding-left:0;
}

ul.list-group.list-group-striped li:nth-of-type(odd){
	background: white;
}

ul.list-group.list-group-striped li:nth-of-type(even){
	background: rgb(224,224,224);
}

ul.list-group.list-group-hover li:hover{
	background: rgb(192,192,192);
}

.body-title {
	display: inline-block;
	margin-top: 0.75em;
	margin-right: 0.2em;
	word-wrap: break-word;
	width: 100%;
}

.word {
	word-wrap: break-word;
	width: 100%;
}

#france {
	padding-left: 0.5em;
}

#add {
	padding-right: 0.5em;
}

#add2 {
	padding-right: 0.5em;
}

#bouton1 {
	margin-top: 2em;
}

#bouton2 {
	margin-top: 2em;
}

#help {
	margin-top: 2em;
}

.comment {
	margin-left: 6em;
}

.enveloppe {
	padding-left: 0.2em;
}

.subject-content {
	display: inline-block;
	margin-left: 1em;
}

.author {
	margin-left: 0.5em;
	font-weight: bold;
}

.creat {
	font-style: italic;
	margin-right: 0.5em;
	color: #A0A0A0;
}

.desc {
	font-size: 13.5px;
	font-style: italic;
	padding-right: 0.5em;
}

.nosubject {
	padding-left: 0.5em;
	font-style: italic;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

.toppad {
	margin-top:20px;
}